<% layout('layouts/boilerplate') %>

    <head>
        <title>Find</title>
        <style>
            #index-image-top {
                max-width: 100%;
                height: 500px;
                object-fit: cover;
            }

            @media screen and (max-width:994px) {
                #index-image-top {
                    max-width: 100%;
                    height: 300px;
                    object-fit: cover;
                }
            }

            @media screen and (max-width:767px) {
                #index-image-top {
                    max-width: 100%;
                    height: 300px;
                    object-fit: cover;
                }

                #cardId {
                    width: 80vw;
                    margin: 0 auto;
                }
            }
        </style>
    </head>
    <div class="container">
        <div class="offset-3 col-sm-6" id="cardId">
            <h1>All Pets Available for Adoption</h1>
            <% for(let adoptable of adoptables){%>
                <div class="card mb-3 shadow" id="cardIn">
                    <div class="card-img-top">
                        <img class="img-fluid" id="index-image-top" src=<%=adoptable.images[0].index%>>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= adoptable.title %>
                        </h5>
                        <p class="card-text">
                            <%= adoptable.description %>
                        </p>
                        <p class="text-muted">
                            <%= adoptable.location %>
                        </p>

                        <a class="btn btn-primary" href="/adoptables/<%= adoptable.id %>">View
                        </a>
                    </div>
                </div>
                <% }%>
        </div>
    </div>